@import '../../style-variables/Colors.scss';

.container {
  .alert {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-color: $primary;
    color: $white;
    &.danger {
      background-color: $danger;
    }

    .close-btn:hover {
      cursor: pointer;
    }
  }
}
